:root {
    --font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    --text-color: #FFFFFF;
    --pal-primary-1: #F89F8D;
    --pal-primary-2: #A4B1AD;
    --pal-primary-3: #9AABBD;
    --pal-secondary-1: #76FFFF;
    --pal-secondary-2: #DCCD40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    height: 100vh;
}

.flex {
    display: flex;
}

/* Header */
header {
    min-height: 10vh;
    background-color: var(--pal-primary-3);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header div {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div img {
    height: 4vh;
}

h1, h2, h3 {
    font-weight: 500;
}

header a{
    text-decoration: none;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

header a:hover, header a:visited:hover, a:hover, a:visited:hover {
    color: var(--pal-secondary-1);
}

header a:visited, a:visited {
    color: var(--text-color);
}

nav {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

footer {
    padding: 2% 0;
    background-color: var(--pal-primary-3);
    color: var(--text-color);
    display: flex;
    align-items: center;
}

footer p {
    padding-left: 5%;
}

main {
    flex-grow: 1;
}

/* Heading section - index.php*/
section:first-child {
    width: 90%;
    background-color: var(--pal-primary-1);
    margin: 2vh auto;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

/* All items - index.php */
section:nth-child(2) {
    width: 90%;
    background-color: var(--pal-primary-3);
    margin: 2vh auto;
    color: var(--text-color);
    padding: 2% 2%;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

thead {
    border-bottom: 1px solid var(--text-color);
}

th {
    width: 20%;
}

tr {
    height: 3vh;
}

td img {
    width: 15vw;
    height: auto;
    padding: 2vh 0;
}

/* a - sell.php */
label span {
    font-style: italic;
}

aside {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
    color: #000;
}

input, aside {
    margin: 0.5vh 0;
}

.sell-main {
    flex-direction: column;
    margin: 0 5vw;
}

.sell-top, .sell-mid, .sell-lwr {
    margin: 3vh 0;
}

.sell-main input[type="submit"], button {
    background-color: var(--pal-primary-1);
    height: 5vh;
    width: 25vw;
    color: var(--text-color);
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;
    padding: 0;
}

.sell-main input[type="file"] {
    height: 50%;
    padding: 5%;
    border: 3px solid var(--pal-secondary-2);
    border-radius: 10px;
}

#sell-file::file-selector-button {
    background-color: var(--pal-primary-1);
    height: 80%;
    width: 50%;
    color: var(--text-color);
    border-radius: 15px;
    border: none;
    font-size: 1rem;
}

.sell-submit {
    display: flex;
    justify-content: center;
}

.sell-main input, .sell-main select, .sell-main textarea {
    font-family: var(--font-family);
    height: 6vh;
    padding: 2%;
    font-size: 1rem;
    border-radius: 10px;
}

.sell-main input:focus, .sell-main select:focus, .sell-main textarea:focus {
    border-color: var(--pal-secondary-1);
    outline: none;
}

.sell-main textarea {
    height: 10vh;
    resize: none;
}

.sell-container {
    margin: 0 5vw;
}

.sell-top {
    flex-direction: row;
    justify-content: space-between;
}

.sell-top-l, .sell-top-r, .sell-lwr-col {
    flex-direction: column;
    width: 40%;
}

.sell-mid {
    flex-direction: column;
}

.sell-mid aside {
    width: 50%;
}

.sell-lwr {
    flex-direction: row;
    justify-content: space-between;
}

.sell-lwr-col {
    justify-content: space-between;
}

.err {
    color: var(--pal-secondary-2);
}

/* Item view - viewitem.php */
.item-view {
    flex-direction: column;
    margin: 1vh 0;
}

.view-top-l {
    justify-content: center;
}

.item-view h3 {
    color: var(--pal-secondary-2);
}

/* Edit item - updateitem.php */
.read-only {
    opacity: 0.7;
    border-color: rgba(118, 118, 118, 0.3);
}

/* Media queries */
@media (max-width: 1366px) {
    

    
}

@media (max-width: 800px) {
    header div {
        flex-direction: column;
    }

    nav {
        width: 90%;
    }
}

@media (max-width: 600px) {
    h3 {
        font-size: 1rem;
    }

    td {
        font-size: 0.75rem;
    }

    .sell-top, .sell-lwr {
        flex-direction: column;
    }

    .sell-top-l, .sell-top-r, .sell-lwr-col {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .hidden {
        display: none;
    }
}